html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 1rem;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  margin: 0;
  grid-template-areas:
    "banner banner"
    "main main";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s child{
  ren to the grid. */
  display: contents;
}

header img.pano {
  grid-area: banner;
  z-index: -20;
}

nav {
  grid-column: 2/3;
  grid-row: 1/2;
}

h1 {
  font-family: "Patua One", sans-serif;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: .5rem 1rem;
}

h1 > img {
  width: 14rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "section1 section2";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

figure:first-of-type {
  grid-area: section1;
}

figure:nth-of-type(2) {
  grid-area: section2;
}

figure {
  margin: 0;
}

ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  font-family: "Patua One", serif;
}

a {
  color: #fff;
  font-size: 2rem;
  margin: 1rem 1rem 2rem 1.1rem;
}

h2 {
  color: #30658d;
  font-family: "Patua One", serif;
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}
